<div class="text-2xl font-semibold text-white">Список магазинов в которых находится выбранный товар</div>
<div class="py-4">
  <button
    (click)="fetchStoresForProduct()"
    class="mr-4 bg-grey border-border border-2 text-base font-semibold text-white px-6 py-4 rounded-2xl hover:bg-blue-600 hover:shadow-2xl transition-all duration-300">
    Показать магазины
  </button>

  <select
    id="storeSelect"
    [(ngModel)]="selectedProductId"
    class="border p-4 rounded-2xl mb-4">
    <option [value]="undefined" disabled selected>Выберите продукт</option>
    <option *ngFor="let product of products" [value]="product.barcode">{{ product.name }}</option>
  </select>
</div>
<div *ngIf="stores.length > 0" class="mt-6">
  <table class="min-w-full  my-7 bg-grey text-white rounded-2xl overflow-hidden border-2 border-border">
    <thead>
    <tr class="bg-table">
      <th class="px-4 py-2  rounded-tl-2xl">№</th>
      <th class="px-4 py-2  ">Местоположение магазина</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let store of stores; let i = index">
      <td class="px-4 py-2 border-2 border-border text-center">{{ i + 1 }}</td>
      <td class="border-2 border-border text-center">
        {{ store.location }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
