<div class="text-2xl font-semibold text-white">
  Информация о средней стоимости товаров каждой товарной группы для каждого магазина
</div>
<div *ngIf="infoWithLocations.length > 0" class="mt-6">
  <table class="min-w-full my-7 bg-grey text-white rounded-2xl overflow-hidden border-2 border-border">
    <thead>
    <tr class="bg-table">
      <th class="px-4 py-2 rounded-tl-2xl">№</th>
      <th class="px-4 py-2">Местоположение магазина</th>
      <th class="px-4 py-2">Код товарной группы</th>
      <th class="px-4 py-2">Средняя стоимость</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of infoWithLocations; let i = index">
      <td class="px-4 py-2 border-2 border-border text-center">{{ i + 1 }}</td>
      <td class="border-2 border-border text-center">{{ item.location }}</td>
      <td class="border-2 border-border text-center">{{ item.productInfo.productGroupCode }}</td>
      <td class="border-2 border-border text-center">{{ item.productInfo.avgPrice }} &#8381;</td>
    </tr>
    </tbody>
  </table>
</div>

