<table class="min-w-full  my-7 bg-grey text-white rounded-2xl overflow-hidden border-2 border-border">
  <thead>
  <tr class="bg-table">
    <th class="px-4 py-2  rounded-tl-2xl">№</th>
    <th class="px-4 py-2  ">Название продукта</th>
    <th class="px-4 py-2  ">Местоположение магазина</th>
    <th class="px-4 py-2  ">Количество</th>
    <th class="px-4 py-2  ">Дата продажи</th>
    <th class="px-4 py-2  ">Покупатель</th>
    <th class=""></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sale of sales; let i = index">
    <td class="px-4 py-2 border-2 border-border text-center">{{i + 1}}</td>
    <td class="border-2 border-border text-center">
      {{ sale.product.name }}
    </td>
    <td class="border-2 border-border text-center">
      {{ sale.store.location }}
    </td>
    <td class="border-2 border-border text-center">
      {{ sale.quantity }}
    </td>
    <td class="border-2 border-border text-center">
      {{sale.saleDate }} г
    </td>
    <td class="border-2 border-border text-center">
      {{ sale.customer.lastName }}
    </td>
    <td class="border-2 border-border px-4 py-2 bg-grey">
      <button (click)="deleteSale(sale.saleId!)">
        <img src="/delete.png" alt="delete">
      </button>
    </td>
  </tr>
  </tbody>
</table>
