<table class="min-w-full  my-7 bg-grey text-white rounded-2xl overflow-hidden border-2 border-border">
  <thead>
  <tr class="bg-table">
    <th class="px-4 py-2  rounded-tl-2xl">№</th>
    <th class="px-4 py-2  ">Штрих код</th>
    <th class="px-4 py-2  ">Код группы</th>
    <th class="px-4 py-2 ">Название</th>
    <th class="px-4 py-2 ">Вес</th>
    <th class="px-4 py-2 ">Тип продукта</th>
    <th class="px-4 py-2 ">Стоимость</th>
    <th class="px-4 py-2 ">Срок годности</th>
    <th class=""></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; let i = index">
    <td class="px-4 py-2 border-2 border-border text-center">{{ i + 1 }}</td>
    <td class="border-2 border-border text-center">
      {{ product.barcode }}
    </td>
    <td class="border-2 border-border">
      <input class="w-full h-full px-2 py-1 bg-grey text-center" [(ngModel)]="product.productGroupCode"
             [readonly]="!editingStates[product.barcode]"/>
    </td>
    <td class="border-2 border-border">
      <input class="w-full h-full px-2 py-1 bg-grey text-center" [(ngModel)]="product.name"
             [readonly]="!editingStates[product.barcode]"/>
    </td>
    <td class="border-2 border-border">
      <input class="w-full h-full px-2 py-1 bg-grey text-center" [(ngModel)]="product.weight"
             [readonly]="!editingStates[product.barcode]"/>
    </td>
    <td class="border-2 border-border text-center">
      <ng-container *ngIf="editingStates[product.barcode]">
        <select [(ngModel)]="product.productType.id" class="w-full h-full px-2 py-1 bg-grey text-center">
          <option *ngFor="let type of productTypes" [value]="type.id">{{ type.name }}</option>
        </select>
      </ng-container>
      <ng-container *ngIf="!editingStates[product.barcode]">{{ product.productType.name }}</ng-container>
    </td>
    <td class="border-2 border-border">
      <input class="w-full h-full px-2 py-1 bg-grey text-center" [(ngModel)]="product.price"
             [readonly]="!editingStates[product.barcode]"/>
    </td>
    <td class="border-2 border-border text-center">
      <ng-container *ngIf="editingStates[product.barcode]">
        <input type="datetime-local"
               class="w-full h-full px-2 py-1 bg-grey text-center"
               [(ngModel)]="product.expirationDate"/>
      </ng-container>
      <ng-container *ngIf="!editingStates[product.barcode]">
        {{ product.expirationDate }}
      </ng-container>
    </td>
    <td class="border-2 border-border px-4 py-2 bg-grey">
      <app-action-buttons
        [itemId]="product.barcode"
        (delete)="deleteCustomer($event)"
        (save)="saveStore(product)"
        (edit)="startEdit(product.barcode)"
        (cancel)="cancelEdit(product.barcode)">
      </app-action-buttons>
    </td>
  </tr>
  </tbody>
</table>
