<table class="min-w-full  my-7 bg-grey text-white rounded-2xl overflow-hidden border-2 border-border">
  <thead>
  <tr class="bg-table">
    <th class="px-4 py-2  rounded-tl-2xl">№</th>
    <th class="px-4 py-2  ">Местоположение магазина</th>
    <th class=""></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let store of stores; let i = index">
    <td class="px-4 py-2 border-2 border-border text-center">{{ i + 1 }}</td>
    <td class="border-2 border-border">
      <input class="w-full h-full px-2 py-1 bg-grey text-center" [(ngModel)]="store.location"
             [readonly]="!editingStates[store.storeId!]"/>
    </td>
    <td class="border-2 border-border px-4 py-2 bg-grey">
      <app-action-buttons
        [itemId]="store.storeId"
        (delete)="deleteCustomer($event!)"
        (save)="saveStore(store)"
        (edit)="startEdit(store.storeId!)"
        (cancel)="cancelEdit(store.storeId!)">
      </app-action-buttons>
    </td>
  </tr>
  </tbody>
</table>
